<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:c="http://www.springframework.org/Schema/c"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="Car"  class="com.niit.loosecoupling.car">
    <property name="costperkm" value="120">                  
    </property>
     </bean>
     <bean id="travel"  class="com.niit.loosecoupling.travel">
    </bean>
    
    <bean id="travel"  class="com.niit.loosecoupling.travel">
    <property name="kmtravelled" value="12">  </property>
    <property name="vehicle" ref="car"> </property>
    </bean>
    </beans> 